<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xyh.producer2.dao.DeptMapper">
    <select id="queryAll" resultType="map">
        select * from DEPT
    </select>
</mapper>